@import "~styles/variables";

$icon-size: 1.6rem;

.icon {
  width: $icon-size;
  height: $icon-size;

  /* Derive icon size from the surrounding text size */
  @each $name, $font-size in $font-sizes {
    .text-#{$name} & {
      height: $font-size;
      width: $font-size;
    }
  }

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}
