//@import "~styles/mixins";
@import "~styles/variables";

.widget-text {
  textarea {
    padding: map-get($spacers, 1) map-get($spacers, 3);
    width: 100%;
    height: 100%;
    border: none;
    resize: none;

    color: var(--widget-text-color);
    background-color: var(--widget-background-color);
  }
}
