### Node.js ###

node_modules
/.pnp
.pnp.js
package-lock.json

### IDE ###

/.idea/httpRequests
/.idea/markdown.xml
/.idea/shelf
/.idea/tasks.xml
/.idea/workspace.xml

### Misc ###

.eslintcache
*.log
.DS_Store
