@mixin button-variant(
  $foreground,
  $background,
  $border,
  $event-foreground,
  $hover-background,
  $active-background,
  $focus-ring
) {
  color: $foreground;
  background-color: $background;
  border-color: $border;

  svg {
    fill: $foreground;
  }

  &:hover {
    background-color: $hover-background;
  }

  &:active {
    background-color: $active-background;
  }

  &:hover,
  &:active {
    color: $event-foreground;

    svg {
      fill: $event-foreground;
    }
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem $focus-ring;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid transparent;
  border-radius: 0.4rem;
  cursor: pointer;

  font-size: 1.6rem;
  letter-spacing: 0.025em;
  text-decoration: none;
  white-space: nowrap;

  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;

  &:focus {
    outline: 0;
  }

  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  &[disabled],
  &[disabled]:hover {
    background-color: var(--button-inverse-color);
    color: var(--button-disabled-color);
    border-color: var(--button-disabled-color);
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
  }
}

.btn-regular {
  padding: 0 1.4rem;
  height: 3.6rem;
}

.btn-small {
  padding: 0 1rem;
  height: 2.8rem;
}

.btn-primary {
  @include button-variant(
    var(--button-inverse-color),
    var(--button-primary-color),
    var(--button-primary-color),
    var(--button-inverse-color),
    var(--button-primary-hover-bg),
    var(--button-primary-active-bg),
    var(--button-primary-focus-ring)
  );
}

.btn-primary-outline {
  @include button-variant(
    var(--button-primary-color),
    transparent,
    var(--button-primary-color),
    var(--button-inverse-color),
    var(--button-primary-hover-bg),
    var(--button-primary-active-bg),
    var(--button-primary-focus-ring)
  );
}

.btn-secondary {
  @include button-variant(
    var(--button-inverse-color),
    var(--button-secondary-color),
    var(--button-secondary-color),
    var(--button-inverse-color),
    var(--button-secondary-hover-bg),
    var(--button-secondary-active-bg),
    var(--button-secondary-focus-ring)
  );
}

.btn-secondary-outline {
  @include button-variant(
    var(--button-secondary-color),
    transparent,
    var(--button-secondary-color),
    var(--button-inverse-color),
    var(--button-secondary-hover-bg),
    var(--button-secondary-active-bg),
    var(--button-secondary-focus-ring)
  );
}
