@import "~@darekkay/styles/src/base/colors";

[data-theme="dark"] {
  --overlay-color-background-default: rgba(0, 0, 0, 0.6);
  --overlay-color-text-default: #{$white};
  --overlay-color-text-interaction: #{$green-warm-20};

  --loading-background-color: #{$gray-50};
  --loading-spinner-color: #{$gray-warm-5};
}
