@import "~@darekkay/styles/src/base/colors";

[data-theme="dark"] {
  --overlay-color-background-default: rgba(0, 0, 0, 0.6);
  --overlay-color-text-default: #{$white};
  --overlay-color-text-interaction: #{$green-warm-20};

  --button-primary-color: #{$gold-vivid-20};
  --button-primary-focus-ring: #{$gold-50};

  --button-secondary-color: #{$blue-vivid-30};
  --button-secondary-focus-ring: #{$blue-60};

  --button-danger-color: #{$red-vivid-30};
  --button-danger-focus-ring: #{$red-warm-50};

  --button-inverse-color: #{$black};
  --button-disabled-color: #{$gray-40};

  --loading-background-color: #{$gray-50};
  --loading-spinner-color: #{$gray-warm-5};
}
