@import "~@darekkay/styles/src/base/colors";

$blue-vivid-55: #0070ca;

:root,
[data-theme="default"] {
  --color-text-interaction: #{$blue-vivid-55};

  --overlay-color-background-default: rgba(255, 255, 255, 0.5);
  --overlay-color-text-default: #{$black};
  --overlay-color-text-interaction: #{$violet-vivid-70};

  --loading-background-color: #{$gray-warm-10};
  --loading-spinner-color: #{$gray-warm-90};
}
