@import "~@darekkay/styles/src/base/colors";

.theme-default {
  --text-color: #{$blue-80};
  --text-color-offset: #{$dk-gray-55};
  --text-color-primary: #{$indigo-warm-60};
  --text-color-highlight: #{$blue-vivid-50};

  --text-color-danger: #{$red-50};
  --text-color-success: #{$green-50};

  --background-color: #{$gray-cool-3};
  --background-color-panel: #{$white};
  --background-color-dim: rgba(0, 0, 0, 0.05);

  --border-color: #{$gray-cool-10};
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --focus-ring-color: #{$blue-30};
  --backdrop-color: rgba(255, 255, 255, 0.6);

  --background-overlay-color: rgba(255, 255, 255, 0.5);
  --background-overlay-text-color: #{$black};
  --background-overlay-highlight-color: #{$violet-vivid-70};

  --button-primary-color: #{$blue-vivid-50};
  --button-primary-event-bg: #{$blue-vivid-60};
  --button-primary-focus-ring: #{$blue-30};

  --button-secondary-color: #{$violet-50};
  --button-secondary-event-bg: #{$violet-60};
  --button-secondary-focus-ring: #{$violet-vivid-30};

  --button-danger-color: var(--text-color-danger);
  --button-danger-event-bg: #{$red-60};
  --button-danger-focus-ring: #{$red-30};

  --button-inverse-color: #{$white};
  --button-disabled-color: #{$gray-warm-50};

  --loading-background-color: #{$gray-warm-10};
  --loading-spinner-color: #{$gray-warm-90};
}
