.file-upload {
  border: 2px dashed var(--color-border);

  &.drag-active {
    border-color: var(--color-focus-ring);
  }

  &.success {
    border-color: var(--color-text-success);
  }

  &.error {
    border-color: var(--color-text-danger);
  }
}
