import React from "react";

class {{ properCase name }} extends React.PureComponent<Props> {
  render() {
    const {} = this.props;
    return (
      <div className=""></div>
    );
  }
}

export interface Props {
//
}

export default {{ properCase name }};
