import React from "react";

const {{ properCase name }}: React.FC<Props> = ({}) => {
  return (
    <div className=""></div>
  );
};

export interface Props {
  //
}

export default {{ properCase name }};
