import React from "react";

import { storiesOf } from "@storybook/react";

import Section from "components/section";
import {{ properCase name }} from "../index";

const Story = () => {
  return (
    <Section type="story">
      <{{ properCase name }} />
    </Section>
  );
};

storiesOf("Components.{{ properCase name }}", module).add("Variants", () => <Story />);
