import React from "react";

import Section from "components/section";
import {{ properCase name }} from "../index";

export default {
  title: "Components/{{ properCase name }}",
};

export const Variants = () => {
  return (
    <Section type="story">
      <{{ properCase name }} />
    </Section>
  );
};
