import React, { memo } from "react";

import { WidgetProps } from "../index";

const {{ properCase name }}: React.FC<Props> = memo(({ id, setData }) => {
  return (<div></div>);
});

interface Props extends WidgetProps {

}

export default {{ properCase name }};
