import React from "react";
import { useTranslation } from "react-i18next";
import isEmpty from "lodash/isEmpty";

{{#if useSagas}}import useTriggerUpdate from "common/hooks/useTriggerUpdate";{{/if}}
{{#if configurationEnabled}}import WidgetUnconfigured from "components/widget-unconfigured";{{/if}}

import { WidgetProps } from "../index";
{{#if configurationEnabled}}import { WidgetOptions } from "./configuration";{{/if}}
{{#if useSagas}}export { saga } from "./sagas";{{/if}}

const {{ properCase name }}: React.FC<Props> = ({ id, type {{#if useSagas}}, myAwesomeRequestParam, triggerUpdate, widgetStatusDisplay{{/if}}, meta }) => {
  const { t } = useTranslation();
{{#if useSagas}}
  useTriggerUpdate({ id, params: { myAwesomeRequestParam }, meta, triggerUpdate }, [
    myAwesomeRequestParam, // TODO: remove or change the required request params
  ]);

  if (isEmpty(myAwesomeRequestParam))
    return <WidgetUnconfigured type={type} />;

  if (widgetStatusDisplay) return widgetStatusDisplay;
{{/if}}
  return (<div></div>);
};

interface Props extends WidgetProps{{#if configurationEnabled}}, WidgetOptions{{/if}} {

}

export default {{ properCase name }};
