.theme-dark {
  --text-color: #fff;
  --background-color: #1c1c1c;
  --highlight-color: #b9ca4a;
  --border-color: #74715e;
  --widget-text-color: #fff;
  --widget-background-color: #333;
  --widget-dim-background-color: rgba(0, 0, 0, 0.5);
  --footer-background-color: #333;
  --loading-background-color: hsla(0, 0%, 96%, 0.3);
  --loading-spinner-color: #fff;
}
