.theme-default {
  --text-color: #2b3236;
  --text-color-highlight: #005aff;

  --background-color: #f5f7fb;
  --background-color-panel: #fff;
  --background-color-dim: rgba(0, 0, 0, 0.05);

  --border-color: #ddd;
  --focus-ring-color: hsla(219, 100%, 50%, 0.5);
  --backdrop-color: rgba(255, 255, 255, 0.6);

  --button-primary-color: hsl(219, 100%, 50%);
  --button-primary-hover-bg: hsl(219, 100%, 43%);
  --button-primary-active-bg: hsl(219, 100%, 37%);
  --button-primary-focus-ring: var(--focus-ring-color);

  --button-secondary-color: hsl(256, 22%, 48%);
  --button-secondary-hover-bg: hsl(256, 22%, 41%);
  --button-secondary-active-bg: hsl(256, 22%, 35%);
  --button-secondary-focus-ring: hsla(256, 22%, 48%, 0.5);

  --button-inverse-color: #fff;
  --button-disabled-color: #4b6a88;

  --loading-background-color: hsla(0, 0%, 62%, 0.3);
  --loading-spinner-color: #202020;
}
