.theme-default {
  --text-color: #2b3236;
  --background-color: #f5f7fb;
  --highlight-color: #005aff;
  --border-color: #ddd;
  --widget-text-color: #000;
  --widget-background-color: #fff;
  --widget-dim-background-color: rgba(0, 0, 0, 0.05);
  --footer-background-color: #fff;
  --loading-background-color: hsla(0, 0%, 62%, 0.3);
  --loading-spinner-color: #202020;
}
