html {
  /* font-size 1em = 10px on default browser settings */
  font-size: 62.5%;

  box-sizing: border-box;
  background-repeat: no-repeat;

  /* Prevent adjustments of font size after orientation changes in iOS */
  -webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: inherit;
}

table {
  /* Do not include additional border spacing */
  border-collapse: collapse;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
}
