html {
  /* font-size 1em = 10px on default browser settings */
  font-size: 62.5%;

  box-sizing: border-box;
  background-repeat: no-repeat;

  /* Prevent adjustments of font size after orientation changes in iOS */
  -webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: inherit;
}

body {
  /* Remove the margin in all browsers */
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  /* Change the font styles in all browsers */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;

  /* Remove the margin in Firefox and Safari */
  margin: 0;
}

button,
select {
  /* Remove the inheritance of text transform in Firefox */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
}

[type="search"] {
  /* Correct the outline style in Safari */
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration {
  /* Remove the default clear button, as a custom clear button exists */
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;

  /* Change font properties to `inherit` in Safari */
  font: inherit;
}

table {
  /* Do not include additional border spacing */
  border-collapse: collapse;
}

hr {
  /* Add the correct box sizing in Firefox */
  box-sizing: content-box;
  height: 0;
}

iframe {
  border: none;
}
