/*
 * Disable all animations if the user prefers not to see any
 * https://developers.google.com/web/updates/2019/03/prefers-reduced-motion
 */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.001ms !important;
    transition-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
  }
}
