@import "variables";

// Typography

.font-style-italic {
  font-style: italic;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-nowrap {
  white-space: nowrap;
}

@each $weight in $font-weights {
  .font-weight-#{$weight} {
    font-weight: $weight;
  }
}

// Flex

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

// Position

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Grid

.d-grid {
  display: grid;
}

// Margins and Paddings

@each $size, $length in $spacers {
  @each $prop, $abbrev in (margin: m, padding: p) {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length;
    }
    .#{$abbrev}t-#{$size} {
      #{$prop}-top: $length;
    }
    .#{$abbrev}r-#{$size} {
      #{$prop}-right: $length;
    }
    .#{$abbrev}b-#{$size} {
      #{$prop}-bottom: $length;
    }
    .#{$abbrev}l-#{$size} {
      #{$prop}-left: $length;
    }
    .#{$abbrev}x-#{$size} {
      #{$prop}-left: $length;
      #{$prop}-right: $length;
    }
    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length;
      #{$prop}-bottom: $length;
    }
  }
}

// Borders

.border {
  border: 1px solid $border-color;
}

@each $direction in (top, right, bottom, left) {
  .border-#{$direction} {
    border-#{$direction}: 1px solid $border-color;
  }
}

// Colors

.background-color-widget-dim {
  background-color: var(--widget-dim-background-color);
}
