@import "~styles/mixins";
@import "~styles/variables";

.widget {
  margin-bottom: #{$dashboard-grid-gap-px}px;

  border: 1px solid $border-color;
  border-radius: 3px;

  @include media-breakpoint-up("md") {
    margin-bottom: 0;
  }

  color: var(--widget-text-color);
  background-color: var(--widget-background-color);
}
