import React, { memo } from "react";

import { WidgetProps } from "../index";

const {{ properCase name }} = memo(({ id, setData }: Props) => {
  return (<div></div>);
});

interface Props extends WidgetProps {

}

export default {{ properCase name }};
