@import "../../styles/mixins";

@mixin button-variant(
  $foreground,
  $background,
  $border,
  $event-foreground,
  $event-background,
  $focus-ring
) {
  color: $foreground;
  background-color: $background;

  &.btn-border {
    border-color: $border;
  }

  svg {
    fill: $foreground;
  }

  &:hover,
  &:active {
    color: $event-foreground;
    background-color: $event-background;

    svg {
      fill: $event-foreground;
    }
  }

  @include focus-ring($focus-ring);
}

.btn {
  border: 1px solid transparent;

  letter-spacing: 0.025em;
  white-space: nowrap;

  &:not(.no-transition) {
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  &[disabled],
  &[disabled]:hover {
    background-color: var(--button-inverse-color);
    color: var(--button-disabled-color);
    opacity: 0.4;
    pointer-events: none;
    cursor: default;

    &.btn-border {
      border-color: var(--button-disabled-color);
    }
  }
}

.btn-regular {
  padding: 0 1.4rem;
  height: 3.6rem;
}

.btn-small {
  padding: 0 1rem;
  height: 3rem;
}

.btn-primary {
  @include button-variant(
    var(--button-inverse-color),
    var(--button-primary-color),
    var(--button-primary-color),
    var(--button-inverse-color),
    var(--button-primary-event-bg),
    var(--button-primary-focus-ring)
  );
}

.btn-primary-outline {
  @include button-variant(
    var(--button-primary-color),
    transparent,
    var(--button-primary-color),
    var(--button-inverse-color),
    var(--button-primary-event-bg),
    var(--button-primary-focus-ring)
  );
}

.btn-secondary {
  @include button-variant(
    var(--button-inverse-color),
    var(--button-secondary-color),
    var(--button-secondary-color),
    var(--button-inverse-color),
    var(--button-secondary-event-bg),
    var(--button-secondary-focus-ring)
  );
}

.btn-secondary-outline {
  @include button-variant(
    var(--button-secondary-color),
    transparent,
    var(--button-secondary-color),
    var(--button-inverse-color),
    var(--button-secondary-event-bg),
    var(--button-secondary-focus-ring)
  );
}

.btn-danger {
  @include button-variant(
    var(--button-inverse-color),
    var(--button-danger-color),
    var(--button-danger-color),
    var(--button-inverse-color),
    var(--button-danger-event-bg),
    var(--button-danger-focus-ring)
  );
}
.btn-danger-outline {
  @include button-variant(
    var(--button-danger-color),
    transparent,
    var(--button-danger-color),
    var(--button-inverse-color),
    var(--button-danger-event-bg),
    var(--button-danger-focus-ring)
  );
}

.btn-unstyled,
.btn-unstyled-outline {
  color: var(--text-color);
  background-color: transparent;

  &.btn-border {
    border-color: inherit;
  }
}
