{
  "extends": [
    "@darekkay/eslint-config/react",
    "@darekkay/eslint-config/typescript"
  ],

  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "rules": {
    "@typescript-eslint/no-unnecessary-condition": "off",
    "import/no-unresolved": "off",
    "react/prop-types": "off",

    // currently, the dashboard is not keyboard-accessible :(
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off"
  },

  "overrides": [
    {
      "files": ["internals/**/*.js", "internals/**/*.ts"],
      "rules": {
        "import/no-nodejs-modules": "off",
        "@typescript-eslint/no-require-imports": "off"
      }
    }
  ]
}
