{
  "extends": ["@darekkay/eslint-config/react"],
  "parser": "babel-eslint",

  "overrides": [
    {
      "extends": ["@darekkay/eslint-config/typescript"],
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        }
      }
    }
  ]
}
