import React from "react";

import "./{{ properCase name }}.scss";

export interface Props {
  //
}

class {{ properCase name }} extends React.PureComponent<Props> {
  render() {
    const {} = this.props;
    return (
      <div className="{{ lowerCase name }}"></div>
    );
  }
}

export default {{ properCase name }};
