import React, { memo } from "react";

const {{ properCase name }}: React.FC<Props> = memo(({}) => {
  return (
    <div className=""></div>
  );
});

export interface Props {
  //
}

export default {{ properCase name }};
