import React, { memo } from "react";

import "./{{ properCase name }}.scss";

const {{ properCase name }} = memo(({}: Props) => {
  return (
    <div className="{{ lowerCase name }}"></div>
  );
});

export interface Props {
  //
}

export default {{ properCase name }};
