import React, { memo } from "react";

const {{ properCase name }} = memo(({}: Props) => {
  return (
    <div className=""></div>
  );
});

export interface Props {
  //
}

export default {{ properCase name }};
