@import "~styles/mixins";
@import "~styles/variables";

.dashboard {
  display: flex;
  flex-direction: column;

  max-width: #{$dashboard-max-width-px}px;
  margin: 0 auto $margin-default auto;

  @include media-breakpoint-up("md") {
    display: grid;
    grid-gap: #{$dashboard-grid-gap-px}px;
  }
}
