@import "~styles/variables";
@import "~styles/mixins";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  background-color: var(--footer-background-color);

  @include media-breakpoint-up("sm") {
    flex-direction: row;
  }
}
