/* assistant-300 - latin */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("./fonts/assistant-v7-latin-300.woff2") format("woff2");
}

/* assistant-regular - latin */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/assistant-v7-latin-regular.woff2") format("woff2");
}

/* assistant-600 - latin */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("./fonts/assistant-v7-latin-600.woff2") format("woff2");
}

/* assistant-700 - latin */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./fonts/assistant-v7-latin-700.woff2") format("woff2");
}
