// Breakpoints

// Minimum breakpoint width. Null for the smallest (first) breakpoint.
@function breakpoint-min($name, $breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin focus-ring($color) {
  &:focus:not([tabindex="-1"]):not(.no-focus) {
    /* Custom focus indicator */
    box-shadow: 0 0 0 0.2rem $color;

    /* Fallback for Windows High Contrast mode */
    outline: transparent solid 0.2rem;
  }
}
