@import "./mixins";

html {
  /* font-size 1em = 10px on default browser settings */
  font-size: 62.5%;
}

* {
  @include focus-ring(var(--color-focus-ring));
}

body {
  font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Noto Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-text-default);
  background-color: var(--color-background-offset);
}

a,
a:visited {
  color: var(--color-text-interaction);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

select {
  appearance: none;
}

code,
pre,
kbd,
samp {
  font-family: source-code-pro, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid var(--color-border);
}

::-moz-focus-inner {
  /* Remove inner focus ring and padding in Firefox */
  border: 0;
  padding: 0;
}
