// Border

.rounded {
  border-radius: 0.5rem;
}

.rounded-lg {
  border-radius: 0.8rem;
}

// Effects

.backdrop {
  backdrop-filter: blur(5px);
  background-color: var(--color-backdrop);
}

.background-overlay {
  --color-text-default: var(--overlay-color-text-default);
  --color-text-interaction: var(--overlay-color-text-interaction);

  background-color: var(--overlay-color-background-default);
}

// Misc

.object-fit-cover {
  object-fit: cover;
}

.bg-cover {
  background-size: cover;
}

.bg-fixed {
  background-attachment: fixed;
}

.list-style-none {
  list-style: none;
}

.pointer-events-none {
  pointer-events: none;
}

.transform-center {
  top: 50%;
  transform: translateY(-50%);
}

// Conditional visibility

.visibility-trigger {
  .visibility-target {
    visibility: hidden;

    &:active,
    &:focus {
      visibility: visible;
    }
  }
}

.visibility-trigger:hover {
  .visibility-target {
    visibility: visible;
  }
}
